ravvi_poker/_build.py
ravvi_poker/build.py

*.code-workspace
.vscode
#*.h5

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
node_modules
build/
dist/
tmp/
eggs/
.eggs/
lib/
lib64/
var/
wheels/
*.egg-info/
*.egg
MANIFEST

# Unit test / coverage reports
.cache
.coverage
.coverage.*
coverage.xml
tests.xml
tests/*.log
