# .coveragerc to control coverage.py
[run]
source = ravvi_poker
branch = True
cover_pylib = False

[report]
show_missing = True
skip_covered = True
sort = Cover
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover

    # Don't complain assertion code
    raise AssertionError
    raise NotImplementedError

    # Don't complain non-runnable code
    if __name__ == .__main__.:

[html]
directory = coverage.html